.App {
  text-align: center;
}

/* Nav bar */

/* .nav_bar{
  display: flex;
  justify-content: space-between;
  padding: 2%;
} */

.navbar-nav a {
  text-decoration: none;
  color: rgb(191, 187, 187);
  padding: 4%;
}

.navbar-nav .active {
  text-decoration: none;
  font-weight: 400;
  color: rgb(235, 233, 233);
}

@media only screen and (max-width: 400px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

/* Home */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* current city */
.current {
  position: absolute;
  left: 30px;
  top: 100px;
}
.current h6 {
  font-size: 1.5rem;
  position: relative;
}
#current_img {
  position: absolute;
  width: 8rem;
  left: -30px;
  top: 0px;
  z-index: -1;
}

@media only screen and (max-width: 670px) {
  .current {
    left: 15px;
    top: 100px;
  }
  .current h6 {
    font-size: 1rem;
  }
  .current p {
    font-size: 0.6rem;
  }
  #current_img {
    width: 6rem;
  }
}
@media only screen and (max-width: 525px) {
  .current {
    position: static;
    padding-top: 2%;
    margin-bottom: -3%;
  }
  .current h6 {
    margin-bottom: 3px;
  }
  #current_img {
    width: 5rem;
    left: 20px;
    top: 100px;
  }
  .five_days_wrapper {
    padding-top: 25% !important;
  }
}
@media only screen and (max-width: 400px) {
  #current_img {
    left: 10px;
    top: 150px;
  }
}

/*Search*/
.input_container {
  padding-top: 2%;
  display: flex;
  justify-content: center;
}

.custom-input {
  width: 300px !important;
}
@media only screen and (max-width: 350px) {
  .custom-input {
    width: 250px !important;
  }
}
/* list group */

.list_group {
  width: 300px !important;
}

.list_group span {
  cursor: pointer;
}
.list_group span:hover {
  color: rgb(122, 148, 255);
}
@media only screen and (max-width: 350px) {
  .list_group {
    width: 250px !important;
  }
}

/* 5 days forecast */

.five_days_wrapper {
  position: absolute !important;
  z-index: -2 !important;
  top: 30%;
  padding-top: 5%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3%;
}

@media only screen and (max-width: 400px) {
  .five_days_wrapper {
    padding-top: 45% !important;
  }
}

.five_days_wrapper div {
  width: 15%;
  border: 1px rgb(192, 194, 195) solid;
  min-width: 170px;
  border-radius: 3%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 3px 10px 18px #b7b5b5;
}

@media only screen and (max-width: 966px) {
  .five_days_wrapper {
    justify-content: flex-start;
    margin-left: 4%;
  }
}
@media only screen and (max-width: 566px) {
  .five_days_wrapper {
    justify-content: center;
    margin-left: 0%;
  }
}

#date_p {
  font-size: 0.7rem;
}

#temp_p {
  font-size: 0.7rem;
}
#day_p {
  padding-top: 5%;
}
